<h1>SIMPLE MARKET BASKET TASK 1 REV 1 - MATTINSON</h1>

## update/install required packages

In [ ]:
# upgrade pip
!python -m pip install --upgrade pip

In [ ]:
# upgrade/install mlxtend
!python -m pip install --upgrade mlxtend

In [ ]:
#External package need to install
!pip install apyori

## import packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

## raw data

In [2]:
# load data from .csv & show first few records
raw = pd.read_csv('data/simple.csv')

## clean data

In [7]:
# dataframe structure
df = raw.copy()

## export data

In [8]:
# export clean data ready for market basket analysis
df.to_csv('tables\simple_cleaned.csv', index=False, header=True)
print(df.info())
print(df.shape)
df.head(5).T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      bool
 1   B       5 non-null      bool
 2   C       5 non-null      bool
 3   D       5 non-null      bool
 4   E       5 non-null      bool
dtypes: bool(5)
memory usage: 153.0 bytes
None
(5, 5)

       0      1      2      3      4
A   True   True  False   True  False
B   True  False   True  False   True
C   True   True   True  False   True
D  False   True   True   True  False
E  False  False  False   True   True

## create association rules

In [10]:
# define which columns to include in printouts
output_cols = ['antecedents','consequents','support','confidence','lift']

In [11]:
# min_sup 4/100 - min_lift 1 (sorted by lift)
itemsets = apriori(df, min_support=4/100, use_colnames=True)
rules = association_rules(itemsets, metric='lift', min_threshold=1)
rules[output_cols].sort_values(by=['lift'], ascending=False).round(3)

   antecedents consequents  support  confidence   lift
9          (D)      (A, E)      0.2       0.333  1.667
10         (A)      (D, E)      0.2       0.333  1.667
16         (B)      (C, E)      0.2       0.333  1.667
15      (C, E)         (B)      0.2       1.000  1.667
7       (D, E)         (A)      0.2       1.000  1.667
8       (A, E)         (D)      0.2       1.000  1.667
14      (B, E)         (C)      0.2       1.000  1.250
13         (C)      (B, D)      0.2       0.250  1.250
12      (B, D)         (C)      0.2       1.000  1.250
11         (E)      (A, D)      0.2       0.500  1.250
17         (C)      (B, E)      0.2       0.250  1.250
6       (A, D)         (E)      0.2       0.500  1.250
5          (C)      (B, A)      0.2       0.250  1.250
4       (B, A)         (C)      0.2       1.000  1.250
2          (B)         (C)      0.6       1.000  1.250
3          (C)         (B)      0.6       0.750  1.250
1          (A)         (D)      0.4       0.667  1.111
0          (D)         (A)      0.4       0.667  1.111

In [18]:
print(len(rules))

18

In [22]:
rules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   antecedents         18 non-null     object
 1   consequents         18 non-null     object
 2   antecedent support  18 non-null     float64
 3   consequent support  18 non-null     float64
 4   support             18 non-null     float64
 5   confidence          18 non-null     float64
 6   lift                18 non-null     float64
 7   leverage            18 non-null     float64
 8   conviction          18 non-null     float64
dtypes: float64(7), object(2)
memory usage: 1.4+ KB